.Edades-kids{
    display: flex;
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px 20px;
}

.Kids-Margin{
    background: white;
}

.Edades-kids div{
    flex-basis: 25%;
}

.Edades-kids h3{
    text-align: center;
    margin-top: 10px;
    padding: 2px 5px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.Edades-subtitle:hover{
    background: black;
    color: white;
}

.Edades-kids div div{
    display: flex;
    align-items: center;
    justify-content: center;
}