.Post {
  width: 100%; /* Ocupar todo el ancho disponible en la columna */
}

.Post-container {
  height: 100%; /* Ocupar toda la altura del contenedor */
  width: 40vh; /* Ancho del contenedor */
  display: flex; /* Utilizar flexbox para alinear los elementos verticalmente */
  flex-direction: column; /* Apilar los elementos verticalmente */
}

.btn-inline {
  margin-top: auto; /* Mover los botones hacia la parte inferior */
}

.posts-container {
  display: grid; /* Utilizar grid para los posts */
  grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr)); /* Columnas con ancho mínimo y máximo */
  grid-gap: 10px; /* Espacio entre los posts */
}

.Post-img {
  width: 100%; /* Ajustar la imagen al ancho del contenedor */
  margin-bottom: 10px;
}

.btn-inline-right{
  padding-top: 10px;
}
