.pc-Post {
  /* Establece el ancho base del componente Post */
 flex-basis: calc(90%);
 margin-bottom: 40px;
 box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del tamaño */
 display: flex;
 flex-direction: row;
 border-bottom: 1px solid black;
 position: relative;


}



/* .Post-container{
 margin-right: 10px;
}
  */
.pc-posts-container {
 /* background-color: #f9f9f9; */
 padding: 20px;
 border-radius: 5px;
 text-align:center;
 display: flex;
 flex-direction: row;
 justify-content: center;

}

.pc-Data-container{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 10px 20px 10px;
}

.pc-datos-Articulo{
  text-align: left;
}

.pc-datos-Articulo p{
  margin: 3px;
}
 
.pc-datos-Articulo span{
  color: rgb(50, 50, 50);
}
 
.pc-Post-img {
 width: 100%;
 height: 30vh;
 margin-bottom: 20px;
 border-radius: 12px;
 transition: transform 0.3s ease;

}
.pc-Post p{
 /* font-size: 12px; */
 white-space: nowrap;
}

.pc-Post-img:hover{
 transform: scale(0.99);
}
 
.pc-posts-container {
 display: flex;
 /*flex-wrap: wrap; /* Permite que los componentes Post se envuelvan en líneas adicionales si no caben en la misma fila */
 justify-content: space-between; /* Distribuye los componentes Post de manera uniforme en el contenedor */
}

 
.pc-Precio-bold{
 font-weight: bolder;
}

.pc-price{
  position: absolute;
  bottom: 15px;
  right: 0;
}

.pc-novedad{
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(57, 209, 109);
  padding: 3px 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}


.pc-btn-inline{
 display: flex;
 justify-content: space-between; /* Espacio entre los botones */
}

/* .btn-inline div{
 flex-basis: calc(49% );
 text-align: right;
 width: 100%;

} */

.pc-btn-inline-right{
 flex-basis: calc(49% );
 /* text-align: right; */
 width: 100%;
}

.pc-btn-inline-left{
 flex-basis: calc(19% );
 /* text-align: right; */
 width: 100%;
 display: flex;
 flex-direction: row;
 align-items: center;
}

.pc-iconoTrash{
  margin: 5px;
  font-size: 23px;
}

.pc-btn-inline-left i{
  color: black;
}



@media screen and (max-width: 830px) {
 .pc-Post {
   /* Cambia el ancho del componente Post cuando la pantalla es más pequeña */
   /* flex-basis: calc(50% - 20px);  */
   width: 50%;
   justify-content: center;
   align-items: center;
 }

 .pc-Post p{
   /* font-size: 12px; */
   white-space: nowrap;
 }
 .pc-posts-container {
   /* display: flex; */
   display: inline;
   justify-content: center;
   align-items: center;
 }

 .pc-Post-img {
   width:100%;
   height:80vh;
   /* height: 100%; */
 }

 .pc-btn-inline .btn-inline-right{
   margin-top: 10px;
 }

}

@media screen and (min-width: 830px) and (max-width: 950px) {
 .pc-Post-img {
   width: 340px;
   height: 65vh;
 }
}

@media screen and (max-width: 1230px) {
 .pc-btn-inline{
   display: inline;
   justify-content: space-between; /* Espacio entre los botones */
 }

 .pc-btn-inline-right{
   margin-top: 5px;
   width: 100%;
 }

 .pc-posts-container {
   /* display: flex; */
   justify-content:space-around; /* Distribuye los componentes Post de manera uniforme en el contenedor */
   
 }

 .pc-Post{
   flex-basis: calc(40%);
 }

 .pc-Post p{
   white-space: nowrap;
 }



}