.dropdown{
  height: 80%;
}

.Dropdown-button-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.Dropdown-button{
  /* min-width: 108px; */
  width: 100%;
  padding: 0px;
  height: 100%;
  
}

.dropdown-menu li{
  cursor: pointer;
}


.dropdown-item:hover{
  background-color: black;
  color: white;
  transition: all 0.3s;
}


