.dropdown{
    height: 100%;
}

.Dropdown-button-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dropdown-button{
    /* min-width: 108px; */
    width: 100%;
    padding: 8px 12px 6px 12px;
    height: 100%;
    
}

.dropdown-menu li{
    cursor: pointer;
}
