  .App {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  /* .App-Home{
    min-height: 100vh;
  } */

  .App-novedades{
    /* position: relative;
    width: 100%;
    height: 100%;
    padding: 32px 12px; */
    max-width: 1200px; /* Opcional: Establece un ancho máximo para el contenedor principal */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px;
  }

  /* Post.css */
  .Post {
    flex-basis: calc(20% - 20px); /* Establece el ancho base del componente Post */
    margin-bottom: 20px;
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del tamaño */
  }

  .Post-container {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  /* .Post-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  } */

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  