.App {
  text-align: left;
  margin: 0px;
  padding: 0px;
}


.Novedades{
  font-size: 7vh;
  font-weight:1000;
  text-align: center;
}

.subtitle{
  font-size:3vh;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}

.posts-container > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.posts-container{
      display: grid; /* Utilizar grid para los posts */
    grid-template-columns: repeat(auto-fill, minmax(50vh, 1fr)); /* Columnas con ancho mínimo y máximo */

    grid-gap: 10px; /* Espacio entre los posts */
    margin: 10px 30px;
}

/* .Post-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
} */


  /*Esto es para que el post tenga un width del 100% en Post.jsx*/


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

