
@font-face {
  font-family: 'MiFuente';
  src: url('/FrontEnd/src/Fonts/opensans.woff2') format('woff2');
  /* Puedes añadir otros formatos de fuente aquí para mayor compatibilidad */
}

* {
  margin: 0;
  padding: 0;
}

.header{
  color:black;
}

.header-general{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-top: calc(70px + 2%);
  margin-left: 10%;
  font-family: 'MiFuente', sans-serif;
  width: 100vh;
  height: calc(100vh - (70px + 2%));
}

.right-side-subtitle-h2{
  text-align: left;
  /* margin-top: 70px; */
  font-size: 20px;
  font-weight: 700;
}

.btn-unirse-li{
  width: 45%;
}

/* .email {
  position: relative;
  margin: 11% 15%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.email-subscribe-li {
  padding: 15px 10px;
  border: solid;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  margin: 8px 5px;
  width: 45%;
}

.eemail-subscribe-li {
  padding: 15px 10px;
  border: solid;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  margin: 8px 5px;
  width: calc(90% + 10px);
}

.pass-inputs input{
  width: 100%;
}

.email-subscribe-li::placeholder {
  color: black;
  font-weight: 100;
  /* font-weight: bold; */
}

.eemail-subscribe-li::placeholder {
  color: black;
  font-weight: 100;
}

.email-subscribe-li:focus{
  border-color: black;
}

.email-subscribe-li:hover{
  border-color: black;
}

.eemail-subscribe-li:focus{
  border-color: black;
}

.eemail-subscribe-li:hover{
  border-color: black;
}

.pass-char{
  font-size: 11px;
}

.want-suscribe{
  display: flex;
  flex-direction: row;
}

.btn-unirse-li {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 15px 10%;
  color: rgb(153, 153, 153);
  font-weight: bolder;
  margin: 5px;
  cursor: default;
}

.btn-create-li   {
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 15px 10%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin: 5px;
  width: 90%;

  transition: all 0.3s ease;
}

.btn-create-li:hover{
  opacity: .6;
}

.pass-inputs{
  display: flex;
  flex-direction: row;
  position: relative;
}

.pass-inputs div{
  width: 45%;
  margin-right: 10px;
}

.pass-input{
  position: relative;
}
.pass-icon-li{
  position: absolute;
  top: 35%;
  left: 90%;
  cursor: pointer;
}

.or-signin{
  color: rgb(0, 69, 255);
  font-size: smaller;
}

.pass-icon-li{
  max-width: 20px;
  
}


@media (max-width: 800px) {
  

  .pass-icon-li{
    position: absolute;
    top: 35%;
    left: 95%;
    cursor: pointer;
  }
  /* .contenedor-footer {
      width: 100%;
      margin: 5px 0;
      flex-basis: calc(25% - 20px); 
  } */
  .header-general{
    width: 95%;
    margin-left: 15px;
    margin-right: 10px;
  }

  .names input{
    width: 100%;
  }

  .pass-inputs > div:not(.pass-icon-li){
    width: 100%;
    margin-right: 10px;
  }

  .pass-inputs{
    display: inline;
    width: 100%;
  }

  .pass-inputs input{
    width: 100%;
  }

  .pass-icon-li{
    max-width: 20px;
    
  }
}

@media (max-width: 800px) {
  
  .eemail-subscribe-li {
    width: 100%
  }
  .contenedor-footer {
      width: 100%;
      margin: 5px 0;
      flex-basis: calc(25% - 20px); /* Utilizar el 100% del espacio en flex basis */
  }
}